includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 7

    ignoreErrors:

    excludePaths:
        - app/Http/Resources/UserResource.php
        - app/Http/Controllers/Api/Auth/AuthenticatedSessionController.php
        - app/Http/Controllers/Api/Auth/VerifyEmailController.php
    checkMissingIterableValueType: false

    checkGenericClassInNonGenericObjectType: false
